.banner {
  background-image: url(../../img/svg/banner-index.jpg);
  min-height: 600px;
  background-position: center;
  background-size: cover;

  .banner__desc {
    .banner__title {
      font-weight: 800;
      font-size: 62px;
      color: white;
    }

    .banner__subtitle {
      font-weight: 500;
      font-size: 25px;
      color: white;
    }
  }
}


@media screen and (max-width:768px) {
  .banner {
    min-height: auto;
    padding: 10% 0 10% 0;

    .banner__desc {
      .banner__title {
        font-weight: 800;
        font-size: 2rem;
        color: white;
      }

      .banner__subtitle {
        font-weight: 500;
        font-size: 1rem;
        color: white;
        margin: 10px;
      }
    }
  }
}