.eco-production-banner {
  background-image: url(../img/svg/eco-production-picture.jpg);
  min-height: 600px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .eco-production-banner__desc {
    .subtitle-h2 {
      max-width: 700px;
    }
  }
}

@media screen and (max-width:768px) {
  .eco-production-banner {
    min-height: auto;
    padding: 10% 0 10% 0;
  }
}