.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  color: #1A2F3F;
}

.subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #1A2F3F;
}

.banner-title {
  font-weight: 800;
  font-size: 62px;
  color: white;
}

.banner-subtitle {
  font-weight: 500;
  font-size: 25px;
  color: white;
}

.title-h2 {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
}

.subtitle-h2 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
}

.subtitle-italic {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.button-request-white {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  color: #337D5A;
  padding: 10px 30px;
  border: 2px solid #337D5A;

  &:hover {
    color: white;
    background-color: #337D5A;
    border: 2px solid transparent;
    transition: 0.4s;
  }
}

.button-request-green {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 15px;
  color: white;
  background-color: #337D5A;
  padding: 10px 30px;
  border: 2px solid transparent;

  &:hover {
    background-color: white;
    color: #337D5A;
    border: 2px solid #337D5A;
    transition: 0.4s;
  }
}

.active-play {
  max-width: 15%;
}

.d-active-play {
  max-width: 15%;
}

.play-ico .d-active-play {
  display: none;
  cursor: pointer;
}

.play-ico:hover .active-play {
  display: none;
}

.play-ico:hover .d-active-play {
  display: block;
}

.green {
  color: #337D5A;
}

.arrow-button {
  cursor: pointer;
}

@media screen and (max-width:768px) {
  .title {
    font-size: 2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .title-h2 {
    font-size: 2rem;
  }

  .subtitle-h2 {
    font-size: 1rem;
  }

  .subtitle-italic {
    font-size: 1rem;
  }

  .banner-title {
    font-size: 2rem;
  }

  .banner-subtitle {
    font-size: 1rem;
  }
}

// @media screen and (max-width:480px) {

// }