.banner {
  background-image: url(../img/svg/main-banner-index.jpg);
  min-height: 600px;
  background-position: center;
  background-size: cover;

}

.delivery-banner {
  background-image: url(../img/svg/delivery-banner.jpg);
  min-height: 300px;
  background-position: center;
  background-size: cover;
  display: flex;

  .banner__breadcrumbs {

    .breadcrumb {
      .breadcrumb-item {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        color: #FFFFFF;
      }
    }
  }

  h1 {
    margin: auto;
  }
}

@media screen and (max-width:768px) {
  .banner {
    min-height: auto;
    padding: 10% 0;
  }
}

@media screen and (max-width:480px) {
  .banner {
    min-height: auto;
    padding: 20% 0 20% 0;
  }
}