.payment-information {
  .payment-information__wrap {
    &:nth-child(1) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding-top: 80px;
    }

    &:nth-child(2) {
      padding: 70px 0 40px 0;
    }

    .payment-information__menu-item {
      border-bottom: 3px solid transparent;
      padding-bottom: 15px;

      &:nth-child(1) {
        border-bottom: 3px solid #337D5A;
      }

      &:hover {
        border-bottom: 3px solid #337D5A;
      }

      img {
        cursor: pointer;
      }

      a {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        color: #1A2F3F;
      }
    }

    .payment-information__excerpt {
      flex-basis: 30%;
      color: #1A2F3F;

      .payment-information__name {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
      }

      .payment-information__name-italic {
        font-family: 'Raleway';
        font-style: italic;
        font-weight: 600;
        font-size: 16px;
      }

      .payment-information__txt {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
      }
    }

    .payment-information__picture {
      flex-basis: 45%;
    }
  }
}

@media screen and (max-width:768px) {
  .payment-information {
    .payment-information__wrap {
      gap: 25px;

      .payment-information__menu-item {
        justify-content: center;
        padding: 0;
        padding-bottom: 5px;
        margin: auto;
      }

      .payment-information__picture {
        min-width: 80%;
        order: -1;
      }

      .payment-information__excerpt {
        padding: 10% 10%;
        text-align: center;
        gap: 50px;
        min-width: 100%;
        flex-direction: row;

        button {
          margin: auto;
        }

        .payment-information__text-item {

          max-width: 40%;
          margin: auto;

          &:nth-child(1) {
            min-width: 100%;
          }

          div {
            flex-direction: column;

            img {
              margin: 0;
            }
          }

          .payment-information__name {
            margin-bottom: 30px;
            margin: auto;
          }
        }

      }
    }
  }
}

@media screen and (max-width:480px) {
  .payment-information {
    .payment-information__wrap {
      &:nth-child(2) {
        flex-direction: column;
      }
    }

    .payment-information__excerpt {
      order: 1;

      .payment-information__text-item {
        min-width: 100%;
        margin: auto;
      }
    }

    .payment-information__picture {
      order: -1;
    }
  }
}