.wholesale-information {
  .payment-information__wrap {
    &:nth-child(1) {
      border: none;
    }

    &:nth-child(2) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.08);
      padding: 0;
      padding-top: 10%;
    }

    &:nth-child(3) {
      padding: 70px 0 40px 0;
    }

    .wholesale-information__desc-item {
      max-width: 26%;

      h2 {
        font-size: 35px;
      }

      span {
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width:768px) {
  .payment-information__wrap {
    flex-direction: row;

    .payment-information__excerpt-item {
      max-width: 45%;
    }

    .wholesale-information__desc-item {
      min-width: 40%;

      &:nth-child(1) {
        min-width: 100%;
        text-align: center;
      }
    }
  }



}

@media screen and (max-width:480px) {
  .payment-information__wrap {
    &:nth-child(1) {
      flex-direction: column;
    }

    .wholesale-information__desc-item {
      margin: auto;
      text-align: center;
      align-items: center;
    }

    .payment-information__excerpt-item {
      max-width: 100%;
    }
  }
}