<section id="about-us">
  <div class="container about">
    <div class="about-us__wrap flex justify-around no-wrap items-center">


      <div class="about-us__excerpt flex flex-col justify-between">
        <h3 class="title mb-[40px]">О производителе</h3>
        <p class="about-us__desc mb-[20px]"><span class="green">Сельскохозяйственный обслуживающий кооператив
            <br>
            “Орех
            Причерноморья”</span>
          выращивает смешанные сады <br>
          ореха грецкого с фундуком, а также ореха грецкого <br>
          с шиповником, на площади более 150 гектаров. </p>
        <p class="about-us__desc">Помимо этого кооператив занимается выращиванием
          <br> посадочного материала, саженцов привитого и непривитого <br>
          грецкого ореха, фундука и шиповника.
        </p>
        <button class="button-request-white mt-[40px] max-w-[200px]" type="submit">Подробнее</button>
      </div>

      <div class="about-us__slideshow relative">
        <img class="about-us__picture" src="../img/svg/about-picture.jpg" alt="tractor">
        <div class="play-ico opacity-0">
          <a href="#">
            <img class="active-play absolute" src="../img/svg/play-icon.svg" alt="play icon">
            <img class="d-active-play absolute" src="../img/svg/play-icon-active.svg" alt="play icon active">
          </a>
        </div>
        <div class="arrow-button flex justify-around items-center absolute">
          <a href="#">
            <img src="../img/svg/left-arrow.svg" alt="left arrow">
          </a>
          <a href="#">
            <img src="../img/svg/right-arrow.svg" alt="right arrow">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>