<section>
  <div class="container-fluid banner flex items-center justify-center flex-wrap">
    <div class="banner__desc text-center">
      <h1 class="banner__title">Орех Причерноморья</h1>
      <p class="banner__subtitle mt-[35px] mb-[35px]">Единственный в Украине сад совместного <br>
        выращивание фундука и грецкого ореха</p>
      <div class="flex justify-center">
        <div class="banner__play-ico">
          <a href="#">
            <img class="active-play" src="../img/svg/play-icon.svg" alt="play icon">
            <img class="d-active-play" src="../img/svg/play-icon-active.svg" alt="play icon active">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>