<section id="benefits">
  <div class="container benefits flex flex-col gap-[50px]">
    <div class="text-center">
      <h3 class="title mb-[15px]">О пользе продукта</h3>
      <p class="subtitle max-w-[600px] m-auto">Каждый вид ореха содержит свой неповторимый уникальный
        баланс витаминов, и микроэлементов </p>
    </div>
    <div class="benefits__wrap flex gap-[30px] justify-center flex-wrap">

      <div class="benefits__item flex justify-center items-center flex-col text-center">
        <img class="mb-[10px]" src="../img/svg/benefits-ico-1.svg" alt="">
        <p class="product-name_white mb-[20px]">Грецкий орех</p>
        <p class="product-desc-white max-w-[350px] mb-[20px]">Дерево жизни - так часто величают грецкий орех, поскольку
          с давних
          пор он кормил,
          восстанавливал силы и лечил
          человека.
        </p>
        <p class="product-desc-white max-w-[350px]">Даже небольшая горсть грецких орехов - это кладезь витаминов
          и хорошая профилактика многих заболеваний</p>
      </div>
      <div class="benefits__item flex justify-center items-center flex-col text-center">
        <img class="mb-[10px]" src="../img/svg/benefits-ico-2.svg" alt="">
        <p class="product-name_white">Фундук</p>
        <!-- <p class="product-desc-white max-w-[350px] mb-[20px]">Дерево жизни - так часто величают грецкий орех, поскольку
          с давних
          пор он кормил,
          восстанавливал силы и лечил
          человека.
        </p>
        <p class="product-desc-white max-w-[350px]">Даже небольшая горсть грецких орехов - это кладезь витаминов
          и хорошая профилактика многих заболеваний</p>
      </div> -->
      </div>
      <div class="benefits__item flex justify-center items-center flex-col text-center">
        <img class="mb-[10px]" src="../img/svg/benefits-ico-3.svg" alt="">
        <p class="product-name_white">Шиповник</p>
        <!-- <p class="product-desc-white max-w-[350px] mb-[20px]">Дерево жизни - так часто величают грецкий орех, поскольку
          с давних
          пор он кормил,
          восстанавливал силы и лечил
          человека.
        </p>
        <p class="product-desc-white max-w-[350px]">Даже небольшая горсть грецких орехов - это кладезь витаминов
          и хорошая профилактика многих заболеваний</p>
      </div> -->
      </div>
    </div>
  </div>
</section>