<section id="banner">
  <div class="container-fluid banner delivery-banner relative pr-[5%] pl-[5%]">
    <div class="banner__breadcrumbs absolute left-[10%] top-[20px]">
      <ol class="breadcrumb flex gap-2 flex-wrap">
        <li class="breadcrumb-item flex items-center gap-2">
          <a href="index.html">Главная </a><img class="" src="../img/svg/right-arrow-breadcrumb.svg" alt="right arrow">
        </li>
        <li class="breadcrumb-item active">Оплата и доставка
        </li>
      </ol>
    </div>

    <h1 class="banner-title text-center">Оплата и доставка</h1>

  </div>
</section>