<section id="eco-production-banner">
  <div class="container-fluid eco-production-banner flex justify-center text-center items-center">
    <div class="eco-production-banner__desc flex flex-col gap-3">
      <img class="m-auto mb-[20px]" src="../img/svg/eco-icon.svg" alt="eco icon">
      <h2 class="title-h2">Эко продукция</h2>
      <p class="subtitle-h2">Выращиваем каждое деревцо с любовью, на экологически
        чистой земле, без использования пестицидов и химии </p>
    </div>
  </div>
</section>