<section id="contacts">
  <div class="container-fluid contacts error-contacts">
    <div class="contacts__wrap flex justify-evenly">
      <div class="contacts__information flex flex-col justify-between">
        <h3 class="title">Контакты</h3>
        <div class="flex items-center">

          <div class="contacts__phone flex items-center mr-[40px]">
            <img class="mr-[15px]" src="../img/svg/phone.svg" alt="phone">
            <div class="phone-number flex flex-col">
              <a class="" href="tel:+380957111111">
                +38 (095) 711 11 11
              </a>
              <a class="" href="tel:+380957111111">
                +38 (095) 711 11 11
              </a>
            </div>
          </div>

          <div class="flex gap-2">
            <a href="https://www.viber.com/ru/" target="_blank">
              <img src="img/svg/viber-ico.svg" alt="viber">
            </a>
            <a href="https://web.telegram.org/k/" target="_blank">
              <img src="img/svg/telegram-ico.svg" alt="telegram">
            </a>
            <a href="https://www.whatsapp.com/?lang=ru" target="_blank">
              <img src="img/svg/whatsapp-ico.svg" alt="whatsapp">
            </a>
          </div>

        </div>

        <div class="contacts__mail flex items-center">
          <img class="mr-[15px]" src="../img/svg/mail.svg" alt="mail">
          <div class="mail-adress flex flex-col">
            <a href="mailto:nuts@nbsc.com.ua">nuts@nbsc.com.ua
            </a>
          </div>
        </div>

        <div class="contacts__office-adress">
          <div class="office-adress">
            <div class=" flex items-center">
              <img class="mr-[15px]" src="../img/svg/house.svg" alt="house">
              <span>Офис и отдел продаж</span>
            </div>
            <p>Украина, г. Одесса, <br>
              ул. Космонавтов, 32</p>
          </div>
        </div>

        <div class="contacts__prodaction-adress">
          <div class="prodaction-adress">
            <div class=" flex items-center">
              <img class="mr-[15px]" src="../img/svg/tree.svg" alt="house">
              <span>Офис и отдел продаж</span>
            </div>
            <p>Украина, Одесская обл, <br>
              с. Яськи, ул. Центральная, 232</p>
          </div>
        </div>

      </div>


      <div class="contacts__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2613.965446421386!2d33.41240465563242!3d49.068291479308556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d7532403ef7d9f%3A0x9736533195c6a7c!2z0JDQv9GC0LXQutCwIOKEliAyMzIgItCf0L7Qu9GC0LDQstCw0YTQsNGA0Lwi!5e0!3m2!1sru!2sua!4v1684844620632!5m2!1sru!2sua"
          width="600" height="400" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>