<footer class="footer">
  <div class="container-fluid">
    <div class="footer__wrap flex justify-between items-center">

      <div class="main-logo">
        <a href="index.html">
          <img src="img/svg/main-logo.svg" alt="company logo">
        </a>
      </div>

      <nav class="footer__nav">
        <ul class="flex flex-wrap items-center justify-center gap-6">
          <li class="footer__nav-link">
            <a href="#">Магазин</a>
          </li>
          <li class="footer__nav-link">
            <a href="#">О производстве</a>
          </li>
          <li class="footer__nav-link">
            <a href="#">Оплата и доставка</a>
          </li>
          <li class="footer__nav-link">
            <a href="wholesale-and-corporate-clients.html">Оптовым и корпоративным клиентам</a>
          </li>
          <li class="footer__nav-link">
            <a href="#">Новости и статьи</a>
          </li>
          <li class="footer__nav-link">
            <a href="#">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="footer__wrap flex justify-between items-center">
      <p class="footer__author-desc">Разработано <span>IHOR</span><span>YANCHUK</span> <span>=)</span></p>

      <p class="footer__copyright">Copyright © 2019. Все права защищены</p>

      <div class="header__social-network flex items-center gap-x-[15px]">
        <a href="#">
          <img src="img/svg/facebook-ico.svg" alt="facebook">
        </a>
        <a href="#">
          <img src="img/svg/instagram-ico.svg" alt="instagram">
        </a>
        <a href="#">
          <img src="img/svg/youtube-ico.svg" alt="youtube">
        </a>
      </div>
    </div>
  </div>
</footer>