<header class="header mb-[5px]">
  <div class="container-fluid">
    <div class="header__wrap flex items-center justify-around flex-wrap">
      <div class="header__social-network flex items-center gap-x-[15px]">
        <a href="https://uk-ua.facebook.com/" target="_blank">
          <img src="img/svg/facebook-ico.svg" alt="facebook">
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="img/svg/instagram-ico.svg" alt="instagram">
        </a>
        <a href="https://www.youtube.com/" target="_blank">
          <img src="img/svg/youtube-ico.svg" alt="youtube">
        </a>
      </div>
      <!-- ico network  -->

      <div class="header__discount-text flex items-center">
        <p>Ваша персональная скидка - 5%</p>
      </div>
      <!-- discount  -->


      <div class="header__sign-in">
        <ul class="flex items-center gap-5">
          <li class="hover-link">
            <a class="flex items-center" href="missing-page.html"><img class="mr-1" src="img/svg/user-ico.svg"
                alt="user-ico">Вход</a>
          </li>
          <li class="hover-link">
            <a href="missing-page.html">Регистрация</a>
          </li>
          <li class="ml-10">
            <a class="flex items-center" href="#">Ru <img src="img/svg/arrow-ico.svg" alt="dropdown-arrow"></a>
          </li>
        </ul>
      </div>
      <!-- sign in  -->

    </div>


    <div class="header__wrap flex justify-around items-center flex-wrap">
      <div class="main-logo">
        <a href="index.html">
          <img src="img/svg/main-logo.svg" alt="company logo">
        </a>
      </div>
      <!-- main logo  -->

      <div class="header__social-icon-number flex items-center flex-wrap">
        <div class="flex gap-2">
          <a href="https://www.viber.com/ru/" target="_blank">
            <img src="img/svg/viber-ico.svg" alt="viber">
          </a>
          <a href="https://web.telegram.org/k/" target="_blank">
            <img src="img/svg/telegram-ico.svg" alt="telegram">
          </a>
          <a href="https://www.whatsapp.com/?lang=ru" target="_blank">
            <img src="img/svg/whatsapp-ico.svg" alt="whatsapp">
          </a>
        </div>
        <div class="header__number ml-5 flex-wrap">
          <a class="block" href="tel:+380447505011">
            <span class="selection">+38 (044)</span> 750-50-11
          </a>
          <a class="block" href="tel:+380447505011">
            <span class="selection">+38 (044)</span> 750-50-11
          </a>
        </div>
        <!-- phone number  -->
      </div>
      <!-- number and social network  -->


      <div class="header__block-request-call flex  items-center gap-[15px] flex-wrap">
        <button class="button-request" type="submit">Заказать звонок</button>
        <p class="header__button-request_desc">Ждем Вашего звонка <br> ежедневно с 9 до 18</p>
      </div>
      <!-- request call  -->

      <a class="header__bag" href="missing-page.html">
        <img src="img/svg/bag-ico.svg" alt="bag">
      </a>
      <!-- bag  -->
    </div>

    <div class="header__wrap menu flex items-center justify-around text-center">
      <nav class="header__nav mt-[20px]">
        <ul class="flex flex-wrap items-center justify-center gap-6">
          <li class="header__nav-link">
            <a href="missing-page.html">Магазин</a>
          </li>
          <li class="header__nav-link">
            <a href="missing-page.html">О производстве</a>
          </li>
          <li class="header__nav-link">
            <a href="delivery.html">Оплата и доставка</a>
          </li>
          <li class="header__nav-link">
            <a href="missing-page.html">Оптовым и корпоративным клиентам</a>
          </li>
          <li class="header__nav-link">
            <a href="missing-page.html">Новости и статьи</a>
          </li>
          <li class="header__nav-link">
            <a href="missing-page.html">Контакты</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</header>