<section id="main-banner">
  <div class="container-fluid main-banner flex items-center justify-center flex-wrap">
    <div class="main-banner__desc text-center">
      <h1 class="main-banner__title">Орех Причерноморья</h1>
      <p class="main-banner__subtitle mt-[35px] mb-[35px]">Единственный в Украине сад совместного <br>
        выращивание фундука и грецкого ореха</p>
      <div class="flex justify-center">
        <div class="play-ico">
          <a href="#">
            <img class="active-play max-w-[100%]" src="../img/svg/play-icon.svg" alt="play icon">
            <img class="d-active-play max-w-[100%]" src="../img/svg/play-icon-active.svg" alt="play icon active">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>