<section id="news">
  <div class="container-fluid news">
    <div class="news__wrap flex justify-around items-center flex-wrap">
      <div class="news__title">
        <h3 class="title mb-[15px]">Новости</h3>
        <p class="subtitle">Свежие новости и полезная информация</p>
      </div>

      <div class="news__button">
        <div class="arrow-button flex justify-around items-center">
          <a>
            <img src="../img/svg/left-arrow.svg" alt="left arrow">
          </a>
          <a>
            <img src="../img/svg/right-arrow.svg" alt="right arrow">
          </a>
        </div>

      </div>
    </div>
    <div class="news__wrap flex justify-center gap-5">
      <div class="news__item flex flex-col justify-between">
        <img src="../img/svg/inspect-news.svg" alt="inspect">
        <div class="news__txt flex flex-col gap-2">
          <p class="news__data"><time datetime="2019-04-12 19:00">12.04.2019</time></p>
          <h6 class="news__name">Центр поддержки экспорта, в студии
            Павел Тулба</h6>
          <p class="news__desc">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди
            наших
            садоводов, не
            смотря на большой спрос в Европе и отличную...</p>
          <div class="news__excerpt flex items-center gap-3 mt-[15px]">
            <a href="missing-page.html">Читать</a>
            <img src="../img/svg/arrow-excerpt.svg" alt="arrow excerpt">
          </div>
        </div>
      </div>
      <div class="news__item flex flex-col justify-between">
        <img src="../img/svg/forum-news.svg" alt="forum">
        <div class="news__txt flex flex-col gap-2">
          <p class="news__data"><time datetime="2019-04-12 19:00">12.04.2019</time></p>
          <h6 class="news__name">В Одесской области состоялся масштабный
            торгово - экспортный форум</h6>
          <p class="news__desc">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди
            наших садоводов, не смотря на большой спрос в Европе
            и отличную...</p>
          <div class="news__excerpt flex items-center gap-3 mt-[15px]">
            <a href="missing-page.html">Читать</a>
            <img src="../img/svg/arrow-excerpt.svg" alt="arrow excerpt">
          </div>
        </div>
      </div>
      <div class="news__item flex flex-col justify-between">
        <img src="../img/svg/walnut-news.svg" alt="walnut">
        <div class="news__txt flex flex-col gap-2">
          <p class="news__data"><time datetime="2019-04-12 19:00">12.04.2019</time></p>
          <h6 class="news__name">Сертификация органического
            производителя</h6>
          <p class="news__desc">Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди
            наших садоводов, не смотря на большой спрос в Европе
            и отличную...</p>
          <div class="news__excerpt flex items-center gap-3 mt-[15px]">
            <a href="missing-page.html">Читать</a>
            <img src="../img/svg/arrow-excerpt.svg" alt="arrow excerpt">
          </div>
        </div>
      </div>
    </div>
    <div class="flex justify-center py-[40px]">
      <a class="button-request-white" href="missing-page.html">Смотреть все новости</a>
    </div>
  </div>
</section>