<section id="payment-information">
  <div class="container-fluid payment-information">
    <div class="payment-information__wrap flex justify-evenly flex-wrap">
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/wallet-menu.svg" alt="wallet">
        <a href="#">Оплата заказа</a>
      </div>
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/machine-menu.svg" alt="machine">
        <a href="#">Доставка партии</a>
      </div>
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/package-menu.svg" alt="package">
        <a href="#">Возврат товара</a>
      </div>
    </div>
    <div class="payment-information__wrap flex justify-evenly flex-wrap">

      <div class="payment-information__excerpt flex flex-col gap-3 justify-between flex-wrap">
        <div class="payment-information__text-item flex flex-col gap-1 flex-wrap">
          <p class="payment-information__name">Способы оплаты</p>
        </div>
        <div class="payment-information__text-item flex flex-col gap-1 flex-wrap">
          <div class=" flex items-center">
            <img class="mr-[15px]" src="../img/svg/bank-icon.svg" alt="bank">
            <p class="payment-information__name-italic">Безналичный расчет</p>
          </div>
          <p class="payment-information__txt">Вы можете выбрать “получить реквизиты”
            для дальнейшей оплаты на карту, или в терминалах.</p>
        </div>
        <div class="payment-information__text-item flex flex-col gap-1 flex-wrap">
          <div class=" flex items-center">
            <img class="mr-[15px]" src="../img/svg/card-icon.svg" alt="card">
            <p class="payment-information__name-italic">Оплата с помощью банковской карты
            </p>
          </div>
          <p class="payment-information__txt">Оплатите Ваш заказ картой любого банка онлайн
            (LiqPay/Приват24)</p>
        </div>
        <div class="payment-information__text-item flex flex-col gap-1 flex-wrap">
          <div class="flex items-center">
            <img class="mr-[15px]" src="../img/svg/wallet-icon.svg" alt="wallet">
            <p class="payment-information__name-italic">Наличный расчет
            </p>
          </div>
          <p class="payment-information__txt">Оплата заказов наложенным платежом в отделении
            Новой Почты, или наличными курьерами</p>
        </div>
      </div>

      <div class="payment-information__picture">
        <img class="about-us__picture" src="../img/svg/payment-picture.jpg" alt="tractor">
      </div>

    </div>
  </div>
</section>