<section id="products">
  <div class="container products">
    <h3 class="title">Продукция</h3>
    <p class="subtitle">Экологически чистые, качественные ядра грецкого ореха и фундука, <br> а также плоды шиповника в
      удобной, надежной, вакуумной упаковке <br> разного объема</p>
    <div class="products__wrap grid  grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[35px]">
      <div class="products__item">
        <div class="products__img">
          <img src="../img/svg/walnut-picture-1.jpg" alt="products photo">
          <img class="products__promotion" src="../img/svg/promotion.svg" alt="promotion">
        </div>

        <div class="products__name">
          <p>Грецкий орех</p>
          <span>Арт: 0091</span>
        </div>

        <div class="products__desc">
          <p>Орех сладкий, классический, <br> очищенный</p>

          <div class="products__inner flex items-center justify-between flex-wrap">
            <div class="products__desc-weight flex items-center flex-wrap">
              <img src="../img/svg/food-scale-tool-ico.svg" alt="food scale tool">
              <p>Масса: <br> <span>40г.</span></p>
            </div>
            <div class="products__desc-package flex items-center flex-wrap">
              <img src="../img/svg/package-ico.svg" alt="package">
              <p>Упаковка <br> <span>вакуумная</span></p>
            </div>
          </div>
        </div>

        <div class="products__price flex justify-between items-center flex-wrap">
          <p>
            Цена: <span>19 грн.</span> <span class="line-through">21грн</span>
          </p>
          <button class="products__button-buy" type="submit">Купить</button>
        </div>

      </div>

      <div class="products__item">
        <div class="products__img">
          <img src="../img/svg/walnut-picture-1.jpg" alt="products photo">
          <img class="products__promotion" src="../img/svg/novelty.svg" alt="promotion">
        </div>

        <div class="products__name">
          <p>Грецкий орех</p>
          <span>Арт: 0091</span>
        </div>

        <div class="products__desc">
          <p>Орех сладкий, классический, <br> очищенный</p>

          <div class="products__inner flex items-center justify-between flex-wrap">
            <div class="products__desc-weight flex items-center flex-wrap">
              <img src="../img/svg/food-scale-tool-ico.svg" alt="food scale tool">
              <p>Масса: <br> <span>40г.</span></p>
            </div>
            <div class="products__desc-package flex items-center flex-wrap">
              <img src="../img/svg/package-ico.svg" alt="package">
              <p>Упаковка <br> <span>вакуумная</span></p>
            </div>
          </div>
        </div>

        <div class="products__price flex justify-between items-center flex-wrap">
          <p>
            Цена: <span>от 21 грн.</span>
          </p>
          <button class="products__button-buy" type="submit">Купить</button>
        </div>
      </div>

      <div class="products__item">
        <div class="products__img">
          <img src="../img/svg/walnut-picture-2.jpg" alt="products photo">
        </div>

        <div class="products__name">
          <p>Грецкий орех</p>
          <span>Арт: 0091</span>
        </div>

        <div class="products__desc">
          <p>Орех сладкий, классический, <br> очищенный</p>

          <div class="products__inner flex items-center justify-between flex-wrap">
            <div class="products__desc-weight flex items-center flex-wrap">
              <img src="../img/svg/food-scale-tool-ico.svg" alt="food scale tool">
              <p>Масса: <br> <span>40г.</span></p>
            </div>
            <div class="products__desc-package flex items-center flex-wrap">
              <img src="../img/svg/package-ico.svg" alt="package">
              <p>Упаковка <br> <span>вакуумная</span></p>
            </div>
          </div>
        </div>

        <div class="products__price flex justify-between items-center flex-wrap">
          <p>
            Цена: <span>от 21 грн.</span>
          </p>
          <button class="products__button-buy" type="submit">Купить</button>
        </div>
      </div>

      <div class="products__item">
        <div class="products__img">
          <img src="../img/svg/walnut-picture-3.jpg" alt="products photo">
          <img class="products__promotion novelty" src="../img/svg/novelty.svg" alt="promotion">
        </div>

        <div class="products__name">
          <p>Грецкий орех</p>
          <span>Арт: 0091</span>
        </div>

        <div class="products__desc">
          <p>Орех сладкий, классический, <br> очищенный</p>

          <div class="products__inner flex items-center justify-between flex-wrap">
            <div class="products__desc-weight flex items-center flex-wrap">
              <img src="../img/svg/food-scale-tool-ico.svg" alt="food scale tool">
              <p>Масса: <br> <span>40г.</span></p>
            </div>
            <div class="products__desc-package flex items-center flex-wrap">
              <img src="../img/svg/package-ico.svg" alt="package">
              <p>Упаковка <br> <span>вакуумная</span></p>
            </div>
          </div>
        </div>

        <div class="products__price flex justify-between items-center flex-wrap">
          <p>
            Цена: <span>19 грн.</span> <span class="line-through">21грн</span>
          </p>
          <button class="products__button-buy" type="submit">Купить</button>
        </div>
      </div>

      <div class="products__item">
        <div class="products__img">
          <img src="../img/svg/walnut-picture-5.jpg" alt="products photo">
        </div>

        <div class="products__name">
          <p>Грецкий орех</p>
          <span>Арт: 0091</span>
        </div>

        <div class="products__desc">
          <p>Орех сладкий, классический, <br> очищенный</p>

          <div class="products__inner flex items-center justify-between flex-wrap">
            <div class="products__desc-weight flex items-center flex-wrap">
              <img src="../img/svg/food-scale-tool-ico.svg" alt="food scale tool">
              <p>Масса: <br> <span>40г.</span></p>
            </div>
            <div class="products__desc-package flex items-center flex-wrap">
              <img src="../img/svg/package-ico.svg" alt="package">
              <p>Упаковка <br> <span>вакуумная</span></p>
            </div>
          </div>
        </div>

        <div class="products__price flex justify-between items-center flex-wrap">
          <p>
            Цена: <span>от 21 грн.</span>
          </p>
          <button class="products__button-buy" type="submit">Купить</button>
        </div>
      </div>

      <div class="products__item">
        <div class="products__img">
          <img src="../img/svg/walnut-picture-5.jpg" alt="products photo">
          <img class="products__promotion" src="../img/svg/promotion.svg" alt="promotion">
        </div>

        <div class="products__name">
          <p>Грецкий орех</p>
          <span>Арт: 0091</span>
        </div>

        <div class="products__desc">
          <p>Орех сладкий, классический, <br> очищенный</p>

          <div class="products__inner flex items-center justify-between flex-wrap">
            <div class="products__desc-weight flex items-center flex-wrap">
              <img src="../img/svg/food-scale-tool-ico.svg" alt="food scale tool">
              <p>Масса: <br> <span>40г.</span></p>
            </div>
            <div class="products__desc-package flex items-center flex-wrap">
              <img src="../img/svg/package-ico.svg" alt="package">
              <p>Упаковка <br> <span>вакуумная</span></p>
            </div>
          </div>
        </div>

        <div class="products__price flex justify-between items-center flex-wrap">
          <p>
            Цена: <span>от 21 грн.</span>
          </p>
          <button class="products__button-buy" type="submit">Купить</button>
        </div>
      </div>

    </div>
    <div class="flex justify-center mt-[60px] mb-[60px]">
      <button class="button-request-white" type="submit">Перейти в магазин</button>
    </div>
  </div>
</section>