<section id="subsection">
  <div class="container-fluid subsection subsection-grey">
    <div class="subsection__wrap flex justify-center text-center flex-wrap">

      <div class="subsection__item flex flex-col">
        <p class="subsection__text">240<sup><span>га</span></sup>
        </p>
        <p class="subsection__text-small">Cмешанных <br>
          садов</p>
      </div>
      <div class="subsection__item flex flex-col">
        <p class="subsection__text">1<sup><span>га</span></sup></p>
        <p class="subsection__text-small">Тепличного <br>
          комплекса</p>
      </div>
      <div class="subsection__item flex flex-col">
        <p class="subsection__text">10<sup><span>га</span></sup></p>
        <p class="subsection__text-small">Первая промышленная плантация
          шиповника в Украине</p>
      </div>
      <div class="subsection__item flex flex-col">
        <p class="subsection__text">80<sup><span>га</span></sup></p>
        <p class="subsection__text-small">Приживаемости <br>
          саженцев</p>
      </div>

    </div>
  </div>
</section>