<section id="video-banner">
  <div class="container-fluid video-banner flex justify-center text-center items-center">
    <div class="video-banner__desc flex flex-col gap-[20px]">
      <h2 class="title-h2 max-w-[1200px] mb-[20px]">Наша главная цель - получить максимальную прибыль с одного
        гектара
      </h2>
      <div class="flex justify-center">
        <div class="play-ico">
          <a>
            <img class="active-play max-w-[100%]" src="../img/svg/play-icon.svg" alt="play icon">
            <img class="d-active-play max-w-[100%]" src="../img/svg/play-icon-active.svg" alt="play icon active">
          </a>
        </div>
      </div>
      <p class="subtitle-italic">Cмотреть видео о производстве</p>
    </div>
  </div>
</section>