<section id="payment-information">
  <div class="container-fluid payment-information wholesale-information">
    <div class="payment-information__wrap flex justify-center items-center flex-wrap gap-[3%]">
      <div class="wholesale-information__desc-item">
        <h2 class="title">Оптовым
          и корпоративным
          клиентам</h2>
      </div>
      <div class="wholesale-information__desc-item flex flex-col gap-[40px]">
        <p class="payment-information__txt">Сельскохозяйственный обслуживающий кооператив “Орех Причерноморья”
          предлагает своим клиентам выгодные
          условия сотрудничества.</p>
        <p class="payment-information__txt">Особые условия подготовлены для <span>розничных магазинов, компаний HoReCa,
            спорт - клубов.</span>
        </p>
      </div>
      <div class="wholesale-information__desc-item flex flex-col gap-[40px]">
        <p class="payment-information__txt">Мы готовы рассмотреть особые условия для оптовых покупателей, с готовностью
          идем на встречу любому
          предложению.</p>
        <p class="payment-information__txt">Если вы заинтересованы в нашей продукции, пишите, или звоните в наш главный
          офис - мы всегда пойдем вам
          на встречу!
        </p>
      </div>
    </div>

    <div class="payment-information__wrap flex justify-center flex-wrap gap-[4%]">
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/supermarket-menu.svg" alt="supermarket">
        <a href="#">Крупные<br>
          супермаркеты</a>
      </div>
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/shop-menu.svg" alt="shop">
        <a href="#">Розничные<br>
          магазины</a>
      </div>
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/table-menu.svg" alt="table">
        <a href="#">Компании<br>
          HoReCa</a>
      </div>
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/dumbbell-menu.svg" alt="dumbbell">
        <a href="#">Фитнес<br>
          и спорт клубы
        </a>
      </div>
      <div class="payment-information__menu-item flex items-center gap-2">
        <img src="../img/svg/cake-menu.svg" alt="cake">
        <a href="#">Кондитерские<br>
          и пекарни
        </a>
      </div>
    </div>
    <div class="payment-information__wrap flex justify-evenly flex-wrap">
      <div class="payment-information__excerpt flex flex-col gap-3 justify-between flex-wrap">
        <div class="payment-information__excerpt-item flex flex-col gap-10 flex-wrap">
          <p class="payment-information__txt">СОК "Орех Причерноморья" предлагает своим клиентам
            выгодные условия сорудничества.</p>
          <p class="payment-information__txt">Мы готовы рассмотреть особые
            условия для оптовых покупателей, с готовностью идем на встречу
            к любому предложению.
          </p>
        </div>

        <div class="payment-information__excerpt-item flex flex-col gap-10 flex-wrap">
          <p class="payment-information__txt">Особые условия подготовленны для розничных магазинов.
            компаний HoReCa, спорт-клубов.</p>
          <p class="payment-information__txt">Если вы заинтересованы в нашей продукции, пишите
            или звоните
            в наш главный офис, мы всегда пойдем
            вам на встречу.</p>
        </div>

        <button class="button-request-green max-w-[200px]">Написать нам</button>
      </div>

      <div class="payment-information__picture">
        <img class="about-us__picture" src="../img/svg/wholesale-payment-picture.jpg" alt="tractor">
      </div>
    </div>



  </div>
</section>