<section id="banner">
  <div class="container-fluid banner wholesale-banner relative pr-[5%] pl-[5%]">
    <div class="banner__breadcrumbs absolute left-[10%] top-[20px]">
      <ol class="breadcrumb flex gap-2 flex-wrap">
        <li class="breadcrumb-item flex items-center gap-2">
          <a href="index.html">Главная </a><img class="" src="../img/svg/right-arrow-breadcrumb.svg" alt="right arrow">
        </li>
        <li class="breadcrumb-item active">Оптовым и корпоративным клиентам</li>
      </ol>
    </div>
    <div class="flex flex-col gap-4 text-center">
      <h1 class="banner-title">Орех Причерноморья</h1>
      <p class="banner-subtitle max-w-[600px] m-auto">Единственный в Украине сад совместного
        выращивание фундука и грецкого ореха</p>
    </div>


  </div>
</section>