// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
// большие компоненты
@import "./components/header";
@import "./components/footer";
@import "./components/banner";
@import "./components/header-wholesale";
// шапка для wholesale
@import "./components/products";


.title {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 45px;
  text-align: center;
  color: #1A2F3F;
  margin-top: 80px;
}

.subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #1A2F3F;
  margin: 20px 0 50px 0;
}

.button-request-white {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 15px;
  background-color: white;
  color: #337D5A;
  padding: 13px 30px;
  border: 2px solid #337D5A;

  &:hover {
    color: white;
    background-color: #337D5A;
    border: 2px solid transparent;
    transition: 0.4s;
  }
}